# Ignore all files and folder
*

# Re-include all directories
!*/
!registry-generator/
!registry-generator/*
!.github/
!.github/**

# Ignore venvs
**/.venv/
**/__pycache__/

# Files to include
!*compose.yml
!*compose.yaml
!Dockerfile
!.gitignore
!README.md
!*.env.example
# !*registry.json