name: Generate Registry File

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  generate-registry:
    name: python
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        run: uv python install
    
      - name: Generate registry file
        run: uv run ./registry-generator/generate_registry.py

      - name: Commit changes back to the repository
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: task: auto-generate registry file